.top{
	/* background-color: #FFDEAD; */
	height: 100%;
	width: 100%;
	margin-right: unset;
	padding: 0px 0px 0px 0px;
	min-width: 100%;
}
.img{
	max-width: 13%;
	margin-left: 150px;
	margin-top: 50px;
	
}
td {
	max-width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: pre-wrap;
	word-wrap:break-word;
}
th {
	max-width: 100px;
}
.row{
	padding: 0px 0px 0px 0px; 
	margin: unset;
	min-width: 100%;
}
.container-fluid{ 
	margin-top: 100px;
	background-color: #E8E8E8;
	padding-right: inherit;
	padding-left: inherit;
	min-width: 100%;
}
table {
	table-layout: fixed;
	width: 100px;
	max-height: 150px;
	margin: 0px;
}