.top{
	background-color: #4169E1;
	min-height: 60%;
	margin-bottom:30px;
}
.img{
	max-width: 23%;
	margin-left: 20px;
	
}

.row{
	margin-bottom: 30px;
	max-width: 1700px;
}
.container-fluid{ 
	max-width: 1700px;
}
/* .table tr{
height: 50px;
width: 100px;
} */